@use "@/styles/_variables";
@use "@/styles/_mixin";

.page_wrap {
  @include mixin.flex(column, flex-start, center, 0, 0);
  width: 100%;
  height: calc(100% - variables.$headerHeight);
}

.category_wrap {
  @include mixin.flex(row, center, center, 0, 0);
  width: 100%;
  height: 60px;
}

.category_item {
  width: 60px;

  &.active {
    background-color: variables.$brand01;
    color: variables.$white;
  }
}

.product_list {
  width: 100%;
  @include mixin.flex(row, center, center, 0, 0);
  flex-wrap: wrap;
  gap: 20px;
}
