.loading_wrap {
  @include mixin.flex(column, center, center, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: variables.$ziLoading;
  width: 100vw;
  height: 100vh;
  background-color: variables.$backdropWhite;
}
