.page_wrap {
  @include mixin.flex(column, flex-start, center, 20px, 0);
  width: 100%;
  height: calc(100% - variables.$headerHeight);
  padding: 20px;
}

.product_list {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: variables.$tablet;

  @media (max-width: variables.$mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product_item {
  @include mixin.flex(column, center, center, 8px, 1);
  width: 100%;
  flex: 1;
  > img {
    border-radius: 8px;
  }
}
