.page_wrap {
  @include mixin.flex(column, flex-start, center, 20px, 0);
  width: 100%;
  height: calc(100% - variables.$headerHeight);
  padding: 20px;
}

.product_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: variables.$tablet;
  justify-content: center;

  &.three {
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: variables.$mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &.two {
    grid-template-columns: repeat(2, 1fr);
    max-width: variables.$mobile;
  }

  &.one {
    grid-template-columns: repeat(1, 1fr);
    max-width: variables.$mobile;
  }

  @media (max-width: variables.$mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product_item {
  @include mixin.flex(column, center, center, 4px, 1);
  width: 100%;

  > .product_image {
    position: relative;
    width: 100%;
    aspect-ratio: 1/0.75;

    > img {
      border-radius: 12px;
      object-fit: cover;
    }
  }
}

.no_models {
  width: 100%;
  height: 100%;
  padding: 20px;
  @include mixin.flex(column, flex-start, center, 0, 0);
  @include mixin.font(variables.$fn, 400, variables.$grey04, null);
}