.header_wrap {
  width: 100%;
  height: variables.$headerHeight;
  border-bottom: 1px solid variables.$grey06;
  @include mixin.flex(row, space-between, center, 0, 0);
  padding: 0 20px;
}

.logo {
  height: 100%;
  @include mixin.flex(row, center, center, 0, 0);

  > img {
    width: 2rem;
    height: 2rem;
  }
}

.nav_wrap {
  height: 100%;
  @include mixin.flex(row, center, center, 0, 1);
}

.nav_item {
  max-width: 100px;
  height: 100%;
  @include mixin.flex(row, center, center, 0, 1);
  transition: all 0.3s ease;

  &:hover {
    color: variables.$brand01Light;
  }

  &.active {
    color: variables.$brand01Light;
  }
}
