.form_wrap {
  @include mixin.flex(column, flex-start, center, 20px, 1);

  @media (max-width: variables.$tablet) {
    width: 100%;
    max-width: 500px;
  }
}

.form_items {
  width: 100%;
  @include mixin.flex(column, flex-start, center, 0, 0);
}

.form_item {
  width: 100%;
  @include mixin.flex(row, space-between, center, 8px, 0);
  padding: 8px 12px;

  > label {
    flex-shrink: 0;
    flex-basis: content;
    @include mixin.font(
      variables.$fn,
      400,
      variables.$grey04,
      variables.$defaultFont
    );
  }
}

.button {
  width: 100%;
  font-size: variables.$fl;
}
