.spinner {
  border: 6px solid variables.$grey06; /* 회색 배경 */
  border-top: 6px solid variables.$brand01; /* 파란색 상단 */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* 회전 애니메이션 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
