.tab_wrap {
  @include mixin.flex(row, center, center, 4px, 0);
}

.tab_item {
  min-width: 60px;
  height: 32px;
  border-radius: 8px;
  padding: 0 12px;

  &.active {
    background-color: variables.$grey05;
    color: variables.$white;
  }
}
