.form {
  width: 100%;
  @include mixin.flex(column, flex-start, center, 20px, 0);
}

.form_item {
  width: 100%;
  @include mixin.flex(row, flex-start, center, 0, 0);

  @media (max-width: variables.$mobile) {
    @include mixin.flex(column, flex-start, center, 8px, 0);
  }

  > label {
    flex-shrink: 0;
    width: 160px;

    @include mixin.font(
      variables.$fn,
      400,
      variables.$grey04,
      variables.$defaultFont
    );

    @media (max-width: variables.$mobile) {
      width: 100%;
    }
  }
}

.submit_button {
  width: 200px;
  font-size: variables.$fl;
  font-weight: 500;

  @media (max-width: variables.$mobile) {
    width: 100%;
  }
}
