.form {
  width: 100%;
  @include mixin.flex(column, flex-start, center, 12px, 0);
}

.form_item {
  width: 100%;
  @include mixin.flex(row, flex-start, center, 0, 0);

  > label {
    flex-shrink: 0;
    width: 160px;
    @include mixin.font(
      variables.$fn,
      400,
      variables.$grey04,
      variables.$defaultFont
    );
  }
}

