.counter_wrap {
  @include mixin.flex(row, center, center, 12px, 0);
}

.counter_button {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: variables.$grey07;
  border: 1px solid variables.$grey05;
  color: variables.$white;
  font-size: variables.$fxl;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: variables.$grey06;
  }
}

.counter_value {
  font-size: variables.$fn;
  font-weight: 500;
  color: variables.$white;
}
