.radio_wrap {
    @include mixin.flex(row, flex-start, center, 8px, 0);
}

.radio_input {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid variables.$grey05;
    background-color: variables.$grey07;
}

.radio_label {
    font-size: variables.$fn;
    font-weight: 500;
}