@use "@/styles/_variables";
@use "@/styles/_mixin";

.page_wrap {
  width: 100%;
  height: calc(100% - variables.$headerHeight);
  @include mixin.flex(column, flex-start, center, 0, 0);
}

.article_wrap {
  width: 100%;
  max-width: variables.$tablet;
  @include mixin.flex(row, center, flex-start, 0, 0);
  background-color: green;

  @media (max-width: variables.$mobile) {
    @include mixin.flex(column, flex-start, center, 0, 0);
  }
}

.info_wrap {
  @include mixin.flex(column, flex-start, center, 0, 1);
  max-width: 500px;
  background-color: blue;

  @media (max-width: variables.$mobile) {
    width: 100%;
  }
}

.form_wrap {
  @include mixin.flex(column, flex-start, center, 0, 1);
  background-color: red;

  @media (max-width: variables.$mobile) {
    width: 100%;
  }
}

.form_item {
  width: 100%;
  @include mixin.flex(row, space-between, center, 8px, 0);
}
