.page_wrap {
  width: 100%;
  height: calc(100% - variables.$headerHeight);
  @include mixin.flex(column, flex-start, center, 0, 0);
  padding: 20px;
}

.article_wrap {
  width: 100%;
  max-width: variables.$tablet;
  @include mixin.flex(row, center, flex-start, 12px, 0);

  @media (max-width: variables.$mobile) {
    @include mixin.flex(column, flex-start, center, 12px, 0);
  }
}

.info_wrap {
  @include mixin.flex(column, flex-start, flex-start, 0, 1);
  max-width: 500px;
  padding: 12px 20px;
  background: variables.$grey07;
  border-radius: 8px;

  @media (max-width: variables.$mobile) {
    width: 100%;
  }
}

.form_wrap {
  @include mixin.flex(column, flex-start, center, 0, 1);
  // background-color: red;

  @media (max-width: variables.$mobile) {
    width: 100%;
  }
}

.form_item {
  width: 100%;
  @include mixin.flex(row, space-between, center, 8px, 0);
  padding: 8px 12px;

  > label {
    flex-shrink: 0;
    flex-basis: content;
    @include mixin.font(
      variables.$fn,
      400,
      variables.$grey04,
      variables.$defaultFont
    );
  }
}

.button {
  width: 100%;
  padding: 8px 12px;
  background-color: variables.$brand01;
}
