@mixin font($s, $w: normal, $c: null, $f: null) {
  color: $c;
  font-family: $f;
  font-size: $s;
  font-weight: $w;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin flex($d: row, $j: center, $a: center, $g: 0, $fg: 0) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
  gap: $g;
  flex-grow: $fg;
}
