$defaultFont: "Noto Sans KR", sans-serif;

$brand01Light: #ffb086;
$brand01: #fe7e37;
$brand02: #e75d12;
$brandBg: #ffe9df;
$brandGradient: linear-gradient(180deg, transparent 50%, #ffc5a5);

$white: #fff;
$grey01: #fdfdfd;
$grey02: #f7f8f9;
$grey03: #e9ebee;
$grey04: #c5c8ce;
$grey05: #646f7c;
$grey06: #374553;
$grey07: #28323c;
$grey08: #161d24;
$black: #000;
$backdrop: rgba(0, 0, 0, 0.15);
$backdropWhite: rgba(255, 255, 255, 0.05);
$green01: #60b86f;
$red01: #f74271;
$red02: #ff0000;
$blue01: #1e3bf8;

$fh1: 28px;
$fh2: 25px;
$fh3: 22px;

$fxl: 19px;
$fl: 16px;
$fn: 14px;
$fs: 12px;

$zi0: 0;
$zi1: 1;
$zi2: 2;
$ziDropdown: 5;
$ziModal: 10;
$ziLoading: 20;

$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;

$headerHeight: 60px;
