@use "_reset";

html,
body {
  font-family: variables.$defaultFont;
  width: 100vw;
  height: 100vh;
  color: variables.$white;
  background-color: variables.$grey08;
  overflow: hidden;
}

h1 {
  font-size: variables.$fh1;
  font-weight: 600;

  * {
    font-size: variables.$fh1;
    font-weight: 600;
  }
}

h2 {
  font-size: variables.$fh2;
  font-weight: 600;

  * {
    font-size: variables.$fh2;
    font-weight: 600;
  }
}

h3 {
  font-size: variables.$fh3;
  font-weight: 500;

  * {
    font-size: variables.$fh3;
    font-weight: 600;
  }
}

h4 {
  font-size: variables.$fxl;
  font-weight: 500;

  * {
    font-size: variables.$fxl;
    font-weight: 600;
  }
}

h5 {
  font-size: variables.$fl;
  font-weight: 500;

  * {
    font-size: variables.$fl;
    font-weight: 600;
  }
}

strong {
  color: variables.$brand01;
}

// 키보드 포커스 시에만 테두리 표시
*:focus-visible {
  outline: 1px solid variables.$brand01;
  outline-offset: 1px;
}
